
.flex {
    display: flex;
}

.flex.cols{
    flex-direction: column;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.center-items {
    justify-content: center;
    align-items: center;
}

.center-flex-div{
    justify-content: center;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
}

.align-center {
    text-align: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
