
@import 'flex-helpers.css';
@import 'grid.css';
@import 'app-layout.css';
@import "mq.css";

html {
    /* //background-color: lightcyan; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: purple;
    height: 70px;
    margin-bottom: 10px;
    font-size: larger;
}

.editor{
    display: none;
}
