@import 'roots and helpers/root.css';
@import 'roots and helpers/font-awesome.css';
@import 'roots and helpers/flex-helpers.css';
@import 'grid.css';
@import 'app-layout.css';
@import "mq.css";


html {
    background-color: rgb(255, 255, 185);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

.ui-container{
    position: relative;
    min-height: 100vh;
}

header {
    background-color: goldenrod; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(245, 156, 32) ,rgb(255, 132, 0));
    height: 70px;
    margin-bottom: 20px;
    font-size: larger;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo img {
    width: 120px;
    height: 50px;
}

header a{
    color:black;
    font-weight: bold;
}

.gallery-imgs, .gallery-container div{
    outline: 1px black solid;;
}

.changes-container {
    padding: 10px;
    margin: 0 auto 10px auto;
    outline: 1px solid orange;
    width: min-content;
    text-align: center;
    background-color: rgba(255, 194, 79, 0.94);
    gap: 7px 20px;
    align-items: center;
    justify-content: space-between;
}

#txtChange {
    grid-area: txt;
    height: 5vh;
}

#font-selection{
    grid-area: font;
}

#stroke-clr {
    grid-area: clrs;
}
#fill-clr {
    grid-area: clrf
}

#font-size{
    grid-area: size;
}

.change-btn {
    grid-area: line;
}

.dnw{
    grid-area: dnw;
}

.upload{
    grid-area: share;
}


#about{
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    height: auto; 
    margin: 20px 0 20px 0;
    height: auto;
}

.about-container{
    width: 90%;
    margin-bottom: 10px;
}

#about img{
    border-radius: 50%;
    width: 30%;
    padding-right: 10px;
}

footer {
    background-color: rgb(255, 134, 42);
    background-image: linear-gradient(rgb(255, 134, 42), rgb(255, 132, 0));
    height: auto;
    color: azure;
    padding: 0 20px 0 20px;
}

footer p:first-of-type{
    padding: 20px 0 5px 0;
    font-size: larger;
    font-weight: bold;
    margin: 0;
}

footer p:last-of-type{
    padding-bottom: 20px;
    margin: 0;
}

.editor{
    display: none;
}

.user-msg{
    text-align: center;
} 