@import 'roots and helpers/root.css';
@import 'roots and helpers/font-awesome.css';
@import 'roots and helpers/flex-helpers.css';
@import 'grid.css';
@import 'app-layout.css';
@import "mq/main-mq.css";

/* basic */
html {
    background-color: var(--bgclr);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dg);
}

body {
    margin: 0;
}

/* header */

header {
    background-color: var(--or); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, var(--or),var(--dor));
    height: 70px;
    margin-bottom: 20px;
    font-size: larger;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo img {
    width: 120px;
    height: 50px;
}

header a{
    font-weight: bold;
}

/* gallery */

.gallery .grid-container {
    background-color: var(--mg);
    -webkit-box-shadow: 8px 8px 7px 2px rgba(64,64,64,0.9); 
    box-shadow: 8px 8px 7px 2px rgba(64,64,64,0.9);
    width: fit-content;
    padding: 10px;
    border-radius: 0.1%;
}

.gallery-imgs, .gallery-container div{
    outline: 1px black solid;
    border-radius: 10%;
}

.gallery-imgs:hover{
    transform: scale(1.01);
    outline: 1px var(--yw) solid;
}

/* editor */

.changes-container {
    padding: 10px;
    margin: 0 auto 10px auto;
    border: 1px solid var(--or);
    border-radius: 1%;
    text-align: center;
    background-color: var(--dor);
    gap: 10px 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: -7px 5px 5px 0px rgb(0 0 0 / 77%);
}

.changes-container *{
    height: 4vh;
    width: auto;
    text-align: center;
}

.changes-container *:hover{
    transform: scale(1.05);
}

#txtChange {
    grid-area: txt;
    background-color: var(--bgclr);
    color: var(--dg);
}


#font-selection{
    grid-area: font;
    background-color: var(--bgclr);
    color: var(--dg);
}

#stroke-clr {
    grid-area: clrs;
}

#fill-clr {
    grid-area: clrf
}

#font-size{
    grid-area: size;
}

.change-btn {
    grid-area: line;
}

.dnw{
    grid-area: dnw;
}

.upload{
    grid-area: share;
}

.so-share, .dnw, .upload{
    font-size: 30px;
    padding-bottom: 10px;
}

/* about */

#about{
    border-top: 1px var(--lg) solid;
    border-bottom: 1px var(--lg) solid;
    background-color: var(--mg);
    color: var(--lg);
    height: auto; 
    margin: 20px 0 20px 0;
    height: auto;
}

.about-container{
    width: 90%;
    margin-bottom: 10px;
}

#about img{
    border-radius: 50%;
    width: 20vw;
    padding: 10px;
}

#about div h3{
    font-size: 3vmin;
    margin:0;
}

#about div p{
    font-size: 2vmin;
    margin: 20px 0 20px 0;
}

.socials{
    font-size: 2vw;
    width: 100%;
}

/* footer */

footer {
    background-color: var(--or); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, var(--or),var(--dor));
    height: auto;
    color: azure;
    padding: 0 20px 0 20px;
}

footer p:first-of-type{
    padding: 20px 0 5px 0;
    font-size: larger;
    font-weight: bold;
    margin: 0;
}

footer p:last-of-type{
    padding-bottom: 20px;
    margin: 0;
}

.editor{
    display: none;
}
