
/* mobile (first) */
@media screen and (max-width: 529px) {

    .logo{
        padding: 0 0 0 10px;
    }

    .gallery-link{
        padding: 0 20px 0 0;
    }

    .about-link{
        padding-right: 10px;
    }

    .gallery-imgs, .gallery-container div{
        height: 150px;
        width: 150px;
    }

    canvas, .canvas-container{
        display:block;
        border: 1px solid black;
        width: 300px;
    }

    .canvas-container {
        margin: 0 auto 10px auto;
    }

    .grid-container{
        display: grid;
        grid-template-rows: repeat(8, 150px);
        grid-template-columns: repeat(2, 150px);
        gap: 10px 10px;
    }

    .editor{
        flex-direction: column;
    }

    .changes-container{
        display: grid;
        grid-template-columns: 30% 17% 27%;
        grid-template-rows: 30% 19% 25% 14%;
        grid-template-areas:
            "txt txt txt"
            "font clrs clrf"
            "size . line"
            "dnw adress share";
    }

}

/* tablet */
@media screen and (max-width: 979px) and (min-width:530px){

    .logo{
        padding: 0 0 0 10px;
    }

    .gallery-link{
        padding: 0 40px 0 0;
    }

    .about-link{
        padding-right: 10px;
    }

    .gallery-imgs, .gallery-container div {
        height: 250px;
        width: 250px;
        margin: 0;
    }

    .grid-container{
        display: grid;
        grid-template-rows: repeat(4, 250px);
        grid-template-columns: repeat(2, 250px);
        gap: 10px 10px;
    }

    .editor{
        justify-content: center;
        flex-direction: row;
    }

    canvas{
        margin-right: 10px;
        height: 300px;
        width: 300px;
    }

    .changes-container {
        display: flex;
        flex-direction: column;
    }
    
}

/* desktop */
@media screen and (min-width: 980px) {

    .logo{
        padding: 0 100px 0 20px;
    }

    .gallery-link{
        padding-right: 10px;
    }

    .about-link{
        padding-right: 10px;
    }

    .header-layout {
        max-width: 900px;
    }

    .gallery-imgs, .gallery-container div {
        height: 300px;
        width: 300px;
    }

    .grid-container{
        display: grid;
        grid-template-rows: repeat(4, 300px);
        grid-template-columns: repeat(3, 300px);
        gap: 10px 10px;
    }
   
    .editor{
        justify-content: center;
        flex-direction: row;
    }

    canvas{
        margin-right: 10px;
    }

    .changes-container{
        display: grid;
        grid-template-columns: 30% 17% 27%;
        grid-template-rows: 30% 19% 25% 14%;
        grid-template-areas:
            "txt txt txt"
            "font clrs clrf"
            "size . line"
            "dnw adress share";
    }
}