@media screen and (min-width: 980px) {

    .logo{
        padding: 0 100px 0 20px;
    }
    .gallery-link{
        padding-right: 10px;
    }
    .about-link{
        padding-right: 10px;
    }
    .header-layout {
        max-width: 900px;
    }
    .gallery-imgs, .gallery-container div {
        height: 300px;
        width: 300px;
    }
    .grid-container{
        display: grid;
        grid-template-rows: repeat(4, 300px);
        grid-template-columns: repeat(3, 300px);
        gap: 10px 10px;
    }

    .editor{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    canvas{
        margin-right: 10px;
        height: 550px;
        width: 550px;
    }

    .changes-container{
        display: grid;
        height: 40%;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 30% 19% 25% 14%;
        grid-template-areas:
            "txt txt txt"
            "font clrs clrf"
            "size . line"
            "dnw adress-btn share";
    }

}